
.container {
  margin-top: 100px;
  background-color: #e5e7eb;
  width: 30%;
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
form input {
  display: block;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
}
.btn {
  border-radius: 10px;
  background-color: #ff9f29;
  width: 80%;
  margin-left: 40px;
  margin-top: 20px;
}
.btn:hover {
  background-color: #ff5f00;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  width: 80%;
  text-align: center;
  margin: auto auto;
  padding: 50px 0 25px 0;
}
p {
  margin-left: 40px;
}
a {
  text-decoration: none;
}