body {
  background-color: #e5e7eb;
}
.navigation {
  background-color: #eaf6f7;
  position: sticky;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 0;
  z-index: 100;
}
.button1 {
  background-color: #ff9f29;
  color: black;
}
.button1:hover {
  background-color: #ff5f00;
  font-weight: bold;
}
.nav-font {
  font-size: 20px;
  font-weight: bold;
}
#formContainer {
  width: 67%;
  background-color: white;
  /* height: 300px; */
  margin-top: 20px 0px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
}
#postingRules {
  text-decoration: none;
  float: right;
}
#features,
#description {
  border: 1px solid black;
  border-radius: 5px;
}
#price,
#title {
  width: 417px;
}
.formPadding {
  padding-left: 250px;
}
.footer {
  text-align: center;
  padding: 50px auto;
}
#cat,
#loc {
  padding-top: 20px;
}
#category,
#location {
  width: 300px;
}
#con,
#aut {
  padding-top: 10px;
}
li {
  list-style-type: none;
  padding: 10px;
}
#sub {
  border: none;
  background-color: #ff9f29;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}
#sub:hover {
  background-color: #ff5f00;
  border: 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}
.footer {
  background: #152F4F;
  color: white;
}