body {
  background-color: #e5e7eb;
}
.navigation {
  background-color: #eaf6f7;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 100;
}
.button1 {
  background-color: #ff9f29;
  color: black;
}
.button1:hover {
  background-color: #ff5f00;
  font-weight: bold;
}
.nav-font {
  font-size: 20px;
  font-weight: bold;
}
#container_id {
  background-color: white;
  border-radius: 5px;
  width: 70%;
  margin: 50px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
a {
  text-decoration: none;
}
#column1 {
  padding: 25px 20px;
}
#column2 {
  padding: 50px 20px;
}
.product {
  cursor: pointer;
  margin-bottom: 2rem;
}
.product img {
  transition: 0.3s all;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
}

.product:hover img {
  opacity: 0.7;
}

.product .view-pro {
  background: #ff9f29;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
}

.product:hover .view-pro {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  background: #152F4F;
  color: white;
}